.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

form > div:last-child {
    margin: 2px 0;
}

#cstack > div:nth-last-child(2) {
    margin-bottom: 8px;
}

form > input {
    margin: 8px 0;
}

#about {
    height: 100px;
    width: 250px;
    resize: none;
    margin: 10px 0;
}

#cgit, #cstack {
    width: 0;
    height: 0;
    visibility: hidden;
}


.row {
    display: flex;
}

.row > div {
    margin: 32px;
}
