.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 12vw;
}

form > div:last-child {
  margin: 2px 0;
}

#cstack > div:nth-last-child(2) {
  margin-bottom: 8px;
}

form > input {
  margin: 8px 0;
}

#cabout {
  width: unset;
}

#about {
  height: 150px;
  width: 40vw;
  resize: none;
  margin: 10px 0;
}

#cgit, #cstack {
  width: 0;
  height: 0;
  visibility: hidden;
}

#git {
  width: 15vw;
}

#paypalWrapper {
  opacity: 0;
}

#paypalWrapper > div {
  margin: 8px 0;
}

.row {
  display: flex;
}

.row > div {
  margin: 16px 32px;
}
