th, td {
  padding: 25px 15px;
  margin: 0 -1px;
  border-bottom: 1px black solid;
  overflow-wrap: anywhere;
}

tr {
  text-align: center;
}

table {
  width: 50vw;
  table-layout: fixed;
}

#paypal-button {
  opacity: 0;
}

#paypal-button > div {
  margin-top: 26px;
}

#bottomMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#bottomMain > * {
  margin: 18px 36px;
}

#middleWrapper {
  display: flex;
  flex-direction: row;
  height: 25px;
  text-align: center;
}

#devcommentsWrapper > td {
  white-space: pre;
}

#devcommentsWrapper > textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.checked {
  color: orange;
}

.progress {
  width: 100%;
  height: 10px;
  background: whitesmoke;
  border-right: 2px black solid;
  border-left: 2px black solid;
}

.progressWrapper {
  width: 33%;
}

span.fa-star {
  cursor: pointer;
}

#finish, #devs, #apply {
  padding: 25px;
  border: 1px black solid;
  margin: 12px 0 0 26px;
  opacity: 0;
}

#devs {
  max-height: 50vh;
  overflow: auto;
  margin-top: 16px;
}

#finish {
  margin-top: 32px;
}

#submit {
  margin-top: 16px;
}

#developer, #client {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#developer .link, #client .link {
  margin: 0 8px;
}

#topWrapper {
  margin: 16px 12px;
}

.dev {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  padding: 0 12px;
  margin: 12px 0 0 0;
  transition: 0.1s;
}

.clickable:hover {
  cursor: pointer;
  background: whitesmoke;
}

.inputWrapper {
  margin: 12px;
}

.progressDescription {
  margin: 6px 0;
}

#devsTitle, #applyTitle {
  margin: 0 0 12px 0;
}
